{% include 'navbar.html' %} 
{% load static %} 
<style>
  body{background-color: #ebcaf3;
    margin: 25px 50px 75px 100px;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}
li {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
}
a:hover{

color: rgb(226, 17, 17);
cursor: pointer;
font-size: 25PX;
}
</style>
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<title>Courses</title> 
  <section id="Courses"> 
    <center> 
      <font size="9"> 
            
<p>COURSES</p> 
  
      </font>     </center> 
        <div class="contact-item"> <font size="5"> 
            <h1>Technical Courses</h1> 
            <ul>
               <li>	Python</li>
                <li>	Django</li>
                <li>	SQL</li>
                <li>	WordPress</li>
                <li>	HTML and CSS</li>
              </ul>
              <h1>Managerial Courses</h1>  
                <ul>
                  <li>	Project Management</li>
                  <li>	Business Analysis</li>
                  <li>	Creative Problem Solving</li>
                  <li>	Analytical Thinking</li>
                  <li>	Project Planning</li>
                  <li>	Team Leadership</li>
                  <li>	Time and Technology Management</li>
                  <li>	Academic Publishing and E-learning</li>
                  <li>	Performance Management</li>
                  <li>	Decision-Making</li>
                  <li>	Adaptability</li>
                  <li>	Objectives Key Results (OKRs)</li>
                  <li>	Product Plan</li>
                  <li>	Project Planning</li>
                  <li>	Creative Problem Solving</li>
                </ul>
   
    
            
            </font>
            </div> 
        </div> 

  </section>