
{% include 'navbar.html' %} 
{% load static %} 
<style>
    body{background-color: #9ceaf8;
        margin: 25px 50px 75px 100px;
}

a{
    text-decoration: underline;
    color: rgb(36, 18, 197);
    cursor: pointer;
}
a:hover{

    color: rgb(226, 17, 17);
    cursor: pointer;
    font-size: 25PX;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}
</style>
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<title>Index</title> 
        <section class="project-area"> 
           <center>
            <font size="6"> 
                  
<h1>PROJECTS</h1> 
  
            </font> 
                <div id="project" class="project-item"> 
                    <h2>PROJECT 1 NAME</h2> 
                    <font size="4">             
<p> &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;- Web-Scraping.</p> </font>
  
                </div> 
                <div id="project" class="project-item"> 
                    <h2>PROJECT 2 NAME </h2> 
                    <font size="4">   
<p> &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;- Gaming Applications.</p> </font>
  
                </div> 
                <div id="project" class="project-item"> 
                    <h2>GitHub Link </h2> 
                  <font size="5">
<p>&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
    <a href="https://github.com/mohamedkotb81">https://github.com/mohamedkotb81</a></p> </font>    
  
                </div> 
            </div> 
        </center>
        </section>